h1 {
  font-family:arial;
  color: white;
}

a{
  color:black;
  text-decoration: none;
}
#jiwoolee{
margin-left:500px;
margin-top:95px;
font-size: 80px;
position:absolute;
}
#rounded-box{

  width: 1420px;
  height: 270px;
  margin-top: -8px;
  margin-left: -8px;
  padding: 5px;
  border: 5px solid red;
  background-color: black;}
#firstattempt{
  position: absolute;
  margin-top:830px;
  font-family: monospace;

}
#inthe{
  color: black;
  position: absolute;
  margin-top: 315px;
  font-family: monospace;

}
#first{
  width: 650px;
  height:450px;
  margin-top:360px;
  position:absolute;
}
#inthe2{
  position: absolute;
  margin-top: 920px;
  font-family: monospace;
}
#secondattempt{
  position:absolute;
  margin-top:1430px;
  font-family: monospace;
}
#revision{
  width: 650px;
  height:450px;
  margin-top:960px;
  position:absolute;
}
#inthe3{
  position: absolute;
  margin-top: 1540px;
  font-family: monospace;
}
#difficulty{
  position:absolute;
  margin-top:1570px;
  font-family: monospace;
}
